<h1>Temas</h1>
<div class="card-columns">
  <% @topics.each do |topic| %>
    <div class="card">
      <div class="card-body">
        <a href="#" class="card-link"><%= topic.name %></a>
      </div>
    </div>
  <% end %>
</div>
